* {
    background-color: bisque;
}
.t {
    color: rgb(69, 57, 236);
}
h1 {
    color: rgb(255, 255, 255);
}
h1 {
    background-color: black
}
#p {
    background-color: blanchedalmond;
}
#p {
    color: rgb(160, 117, 117);
}
